* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #F2F3F4;
    height: 100vh;
    color: #4B3FCF;
}

.heading-flex {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 60px;
}

h1, h2 {
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    border-left: 2px solid #4B3FCF;
    border-right: 2px solid #4B3FCF;
}

h2 {
    border-top: 2px solid #4B3FCF;
    border-bottom: 2px solid #4B3FCF;
}

.flex-container {
    display: flex;
    gap: 5px;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 20px;
}

.items {
    background-color: pink;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    flex: 1;
    /* flex-shrink: 0; */
}

.three {
    flex-shrink: 1;
}