* {
    color: purple;
    background-color: #ffd0008e;
    text-align: center;
}

div {
    color: red;
    font-weight: bold;
    background-color: black;
}

.alert-text {
    color: green;
}

#title {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
}

.subsection.header {
  color: whitesmoke;
  font-size: 35px;
}

.preview {
    color: yellow;
}

img {
    height: auto;
    width: 800px;
}