* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 2rem;
}

.container {
    padding: 2rem;
    border: 2px solid red;
    height: 80%;
    display: flex;
    gap: 2rem;
}

.box {
    border: 1px solid red;
    height: 200px;
    width: 200px;
    /* margin-bottom: 2rem; */
}

.box2 {
    position: relative;
    background-color: violet;
}